<h1>New Itinerary</h1>


<!-- <!DOCTYPE html> -->

<!-- <html ng-app="dayPilotApp">
<head>
	<title></title>
</head>
<body>

<div ng-controller="ItineraryController as itineraryCtrl"> 
<div ng-show="form.uName.$error.required">Where would you like to go?</div>
<br>
<br>
	City:
	<input type="text" ng-model="user.name" name="uName" required="" />
    <br />
    <form name="form" class="css-form" novalidate>
    <div ng-show="form.$submitted || form.uName.$touched"></div>
    <br>
    <br>

   Departure Date:
    <input type="date" id="exampleInput" name="input" ng-model="example.value"
       placeholder="yyyy-MM-dd" min="2013-01-01" max="2015-12-31" required />
    <br>
    <br>
   Return Date: 
   <input type="date" id="exampleInput" name="input" ng-model="example.value"
       placeholder="yyyy-MM-dd" min="2013-01-01" max="2015-12-31" required />
    <br>
    <br>
    <input type="button" ng-click="reset(form)" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Next: Select Activities!" />
  </form>
</div>
{{foo}}
</body>
</html>
 -->

<%= form_for @trip do |f| %>
 

	<div>
	    <%= f.label :location %>
	    <%= f.text_field :location %>
    </div>
<br>
<br> 

	
<%= link_to '<button type="button">Back</button>'.html_safe, users_path %>
  	
<%= f.submit "Next: Pick Your Dates" %>
  
<% end %> 

