<h1>New Itinerary</h1>

<div class="trip-form">
<%= form_for @trip do |f| %>
 
	
	<div>
	    <%= f.label :location, "Destination:" %>
	    <%= f.text_field :location %>
    </div>
<br>
<br> 
	<div>
	    <%= f.label :starting_time, "Departure Date:" %>
	    <%= f.text_field :starting_time, type: "date"  %>
    </div>

<br>
<br>

<div>
	    <%= f.label :ending_time, "Return Date:" %>
	    <%= f.text_field :ending_time, type: "date"  %>
    </div>
</div>

<br>
<br>

	
<%= link_to "Back", users_path, class: "btn btn-md btn-danger" %>
  	
<%= f.submit "Next: Pick Your Activities", class: "btn btn-md btn-danger" %>
  
<% end %> 

