
<h1><%= @user.name  %>
<h4>Email Address: <%= @user.email  %></h4>
<h4>Location: <%= @user.home  %></h4>
<ul>
<% @user.trips.each do |trip| %>
	<li><%= trip.location %> <%= trip.id %>  </li>
<% end %>
</ul>
<br>
 
<%= link_to '<button type="button">Back</button>'.html_safe, users_path  %>
<%= link_to '<button type="button">Create a New Itinerary</button>'.html_safe, new_user_trip_path(@user, @trip) %>
