
<h1>Welcome <%= @user.name %>!</h1>
<!-- <h4>Email Address: <%= @user.email  %></h4>
<h4>Location: <%= @user.home  %></h4> -->
<ul>
<% @user.trips.each do |trip| %>
	<li><%= trip.location %> <%= trip.id %>  </li>
<% end %>
</ul>
<br>
 
<%= link_to "Back", users_path, class: "btn btn-sm btn-info"   %>
<%= link_to "Create a New Itinerary", new_user_trip_path(@user, @trip),  class: "btn btn-sm btn-info"  %>
<%= link_to "My Trips", user_trips_path(@user, @trip),  class: "btn btn-sm btn-info" %>
